<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
        }
        .content {
            flex: 1;
        }
        .footer {
            background-color: #f1f1f1;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body class="d-flex flex-column">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Smart Home System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% if current_user.role.name == 'Owner' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/alerts">Alerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/access_logs">Access Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/unlock_account/{{ current_user.username }}">Unlock Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('anomalies') }}">Anomalies</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container content">{% block content %}{% endblock %}</div>
<footer class="footer mt-auto">
    <p>© 2024 Smart Home System. All rights reserved.</p>
</footer>
</body>
</html>
